/* Main section */
.main-banner {
    background: url(../images/main-banner.png) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
}

.main-section {
    padding: 7.5rem 1.87rem;
    display: flex;
    justify-content: space-between;
}

.main-section__image img {
    text-align: right;
    width: 100%;
}

.main-section__welcome {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 1.25rem;
    font-size: 3.75rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    color: #05364E;
}

.main-section__position {
    color: #05364E;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
}

.main-section__social-networks a {
    color: #8FA1AA;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}

.main-section__social-networks a i {
    transition: 0.2s ease;
}

.fa-telegram:hover {
    color: rgb(76, 76, 247);
}

.fa-instagram:hover {
    color: #ed239f;
}

.fa-youtube:hover {
    color: red;
}

.fa-github:hover {
    color: #24292F;
}

.main-section__action {
    margin-top: 1.87rem;
}

/* Statistics section */
.statistics {
    padding-top: 6.25rem;
    display: flex;
}

.statistics__item {
    background-color: #F8FAFF;
    text-align: center;
    padding: 0.32rem 0.625rem;
    margin-right: 1.25rem;
    width: 150px;
}

.statistics__number {
    font-size: 1.69rem;
    margin-bottom: 0.32rem;
    background: linear-gradient(90deg, #1345e6 10%, #ff009d 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statistics__title {
    font-size: 1rem;
    color: #797979;
    font-weight: 300;
}

/* About me section */
.about-me {
    padding: 6.25rem 0;
    display: flex;
    align-items: center;
}

.about-me > div {
    flex: 1;
}

.about-me__image img {
    width: 90%;
    margin-left: 5%;
}


.about-me__description {
    font-size: 0.87rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem;
}

.about-me__action {
    margin-top: 2.5rem;
}

/* Services section styles */
.services {
    padding-top: 6.25rem;
}

.services__cards {
    display: flex;
    justify-content: space-between;
}

.service-card {
    
    padding: 3.75rem 1.87rem;
    background-color: #F8FAFF;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s ease 0s;
}

.service-card__title {
    color: #05364D;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service-card__descripion {
    font-size: 0.87rem;
    line-height: 1.69rem;
    font-weight: 300;
    color: #797979;
}

.service-card__link {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364D;
    text-decoration: none;
}

.service-card:hover {
    background-color: #5e3ad4;
    box-shadow: 0px 5px 10px rgb(177, 79, 79);
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link {
    color: #FFFFFF;
}

/* Client section styles */
.clients {
    padding-top: 6.25rem;
}

.client-item {
    display: flex;
    align-items: center;
}

.client-item > div {
    flex: 1;
}

.client-item__image img {
    width: 100%;
}

.client-item__info {
    padding-left: 3.12rem;
}

.client-item__name {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.client-item__position {
    font-size: 0.87rem;
    font-weight: 300;
    color: #5b6d75;
}

.client-item__review {
    font-size: 0.87rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #5b6d75
}

.client-item__rate {
    color: #FFD805;
}

/* Portfolio section style */
.portfolio {
    padding: 6.25rem 0;
}

.portfolio-filters {
    list-style: none;
    padding-left: 0;
    margin-top: 3.12rem;   
}

.portfolio-filters li {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0.82rem;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: 500;
}

.portfolio-filters li:hover,
.portfolio-filters li.active {
    color: #d10ca0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.portfolio-items {
    position: relative;
    margin-top: 3.125rem;
}

.portfolio-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 0.625rem;
    box-sizing: border-box;
}

.portfolio-item-1 {
    padding-left: 0;
}

.portfolio-item-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio-item-3 {
    position: absolute;
    top: 329px;
    right: 0;
}

.intexaley-1 {
    width: 100%;
    height: 100%;
}

.intexaley-2 {
    width: 100%;
    height: 100%;
}

.intexaley-3 {
    width: 100%;
}


.portfolio-item_image {
    width: 100%;
}


.portfolio-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: all 0.4s ease 0s;
}

.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all 0.4s ease 0s;
}

.portfolio-item__info a {
    color: wheat;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    background: rgba(19,69,230,0.9);
    top: 20px;
    left: 20px;
}

.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    bottom: 24px;
    left: 60px;
    opacity: 1;
}

/* Blog section styles */
.blog {
    padding-top: 6.25rem;
}

.blog-items {
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-between;
}

.blog-item {
    margin-right: 3%;
    overflow: hidden;
    box-sizing: border-box;
}

.rasmdagi-rang-1:hover {
    box-shadow: 0px 10px 20px rgb(56,106,239);
    transition: all 0.8s ease 0.1s;
}

.rasmdagi-rang-2:hover {
    box-shadow: 0px 10px 20px rgb(241,173,2);
    transition: all 0.8s ease 0.1s;
}

.rasmdagi-rang-3:hover {
    box-shadow: 0px 10px 20px rgb(254,3,100);
    transition: all 0.8s ease 0.1s;
}

.blog-item:hover .blog-item__info {
    background-color: white;
}

.blog-item__image {
    overflow: hidden;
}

.blog-item__image img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.4s ease 0s;
}

.blog-item__image img {
    width: 100%;
}

.blog-item:hover .blog-item__image img {
    transform: scale(1.1);
}

.blog-item__info {
    background-color: #F8FAFF;
    padding: 1.87rem;
    color: #797979;
}

.blog-item__main-info span {
    font-size: 0.89rem;
    margin-right: 1.87rem;
    font-weight: lighter;
}

.blog-item__info i {
    margin-right: 0.31rem;
}

.blog-item__title {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.97rem;
    color:#05364d;
    font-weight: 700;
}

.blog-item__description {
    line-height: 1.68rem;
    font-weight: lighter;
    font-size: 0.97rem;
}

.blog-item__learn-more {
    font-size: 0.81rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color:#05364d;
    cursor: pointer;
}

.blog-item__learn-more:hover {
    color: #ed239f;
}


/* Partner section styles */
.partners {
    padding-top: 6.25rem;
    display: flex;
    justify-content: center;
}

.partner {
    padding: 90px 1.87rem;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    /* Main section */
    .main-section__image {
        display: none;
    }

    .main-section > div {   
        width: 100%;
    }

    /* Statistics */
    .statistics {
        padding-top: 1rem;
        text-align: center;
        justify-content: center;
    }

        /* About me section */
    .about-me {
        padding: 1.5rem 0;
    }

    .about-me > div {
        width: 100%;
    }

    .about-me__image {
        display: none;
    }

    /* Servises */
    .services {
        padding: 1.5rem 0;
    }

    .services__cards {
        flex-wrap: wrap;
    }

    .service-card {
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    /* Clients section */
    .clients  {
        padding: 1.5rem 0;
    }

    .client-item {
        flex-direction: column;
    }

    .client-item > div {
        width: 100%;
        float: none;
    }

    /* Blog section */
    .blog {
        padding: 1.5rem 0;
    }

    .blog-items {
        flex-wrap: wrap;
    }

    .blog-item {
        flex-basis: 45%;
        margin-bottom: 20px;
    }
    
    /* Partners section */
    .partners {
        padding: 1.5rem 0;
        flex-direction: column;
    }

    .partner {
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    /* Main section */
    .main-banner {
        background: none;
        min-height: auto;
    }

    .main-section__action {
        display: none;
    }

    .main-section__introduction {
        font-size: 3rem;
    }
    
    /* Statistics section */
    .statistics {
        flex-direction: column;
    }

    .statistics__item {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        box-sizing: border-box;
    }


    /* Servises section */
    .service-card {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* Portfolio section */
    .portfolio {
        padding: 1.5rem 0;
    }

    .portfolio-item {
        width: 100%;
    }

    .portfolio-item-2,
    .portfolio-item-3 {
        position: static;
    }

    /* Blog section */
    .blog-items {
        flex-direction: column;
    }
    
    .blog-item {
        margin-right: 0;
        margin-bottom: 20px;
    }
}